// Place all the styles related to the MailingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  margin: 0;
}

form .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11 {
  padding: 0.5% 1%;
}

table {
  width: 50%;
}

thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #200;
}

td, th {
  padding: 4px 8px;
  vertical-align: middle;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* Odd & Even Styles */
td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  background: #e5e9ed;
}

tr.odd td.active {
  background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFFEEE;
}

td ul.links {
  margin-bottom: 0;
}

.form-label {
	font-weight: bold;
	text-align:left;
}
.validation-errors {
	color:red;
	text-align:left;
	display:inline;	
}
.form-actions button {
  margin-right:0.5em;
  align:left;
  color: #200;
}